@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .caret {
    position: absolute;
    top: 11px;
    right: 100%;
    left: -8px;
    display: block;
    width: 8px;
    height: 16px;
    pointer-events: none;
    content: '';
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
    background-color: #d0d7de;
  }
}
